<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Live website with a Simulator of Hybrid Programs in JavaScript">
    <meta name="author" content="">

    <title>Online Tools for Hybrid Programs</title>

    <!-- Bootstrap core CSS -->
    <link href='@routes.Assets.versioned("css/bootstrap.min.css")' rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href='@routes.Assets.versioned("css/bootstrap-theme.min.css")' rel="stylesheet">
    <link href='@routes.Assets.versioned("css/style.css")' rel="stylesheet">
    <link rel="stylesheet" href='@routes.Assets.versioned("css/codemirror/codemirror.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("css/codemirror/theme/neat.css")'>
</head>

<body>
    <div id="contentWrap"></div>
</body>

<script type="text/javascript" src='@routes.Assets.versioned("js/jquery-1.10.2.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("js/bootstrap.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("js/d3.v4.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("js/codemirror/codemirror.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("js/plotly.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("js/codemirror/addon/edit/matchbrackets.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("js/codemirror/mode/lince/lince.js")'></script>
<!--<script type="text/javascript" src='@routes.Assets.versioned("javascripts/remote_js-opt.js")'></script>-->
<script type="text/javascript" src='@routes.Assets.versioned("js/remote_js-opt.js")'></script>
<!--<script type="text/javascript" src='@routes.Assets.versioned("../assets/javascripts/starter.js")'></script>-->


<script type="text/javascript">
    reolive.RemoteLince.main(document.getElementById('contentWrap'));
</script>

<script type="text/javascript" src='@routes.Assets.versioned("js/resizeCols.js")'></script>

</html>

