#header {
    display: block;
    background-color: #c2d3e0;
    text-align: center;
    padding: 1px;
}

#content {
    /*margin-left: 5pt;*/
    /*margin-top: 5pt;*/
}

.fade {
    display: none;
}

.active{
    display: block;
}

.row {
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    margin-left: 0px;
    margin-right: 0px;
}

.body {
    color: #5c5c5c;
    font-size: 14px;
}


.full {
    width: 100%;
    height: 100%;
}
.navbar {
    margin-bottom: 0px;
}
.noscroll {
    overflow: hidden;
}

#myTabContent {
    min-height: 50vh;
    position:relative;
    /*top:40px;*/
    /*   max-width:750px; */
    width: auto;
}

.navbar-brand {
    font-weight: bold;
}

.my-panel-heading {padding: 5px 15px;}
.my-panel-body {padding: 2px 2px;}
.my-textarea {border: none ;}

.container {
    /*padding: 0;*/
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.tab-pane {
    margin-right: auto;
    margin-left: auto;

    /*max-width:750px;*/
}
#home {
    /*max-width:950px;*/
}

.panel-footer {
    /*margin-top: 45px;*/
    text-align: center;
    padding: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 11px;
}
.panel-group {
    margin-bottom: 0;
    padding: 5px;
}
.alert {
    margin-bottom: 0;
}
.alertContainer {
    padding: 5px;
}

.box > text {
    font-family: monospace;
}

/* experiments with drag bars */
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.rightside{
    float: right;
    width: 75%;
    padding-left: 15px;
}
.leftside{
    width:25%;
    float: left;
    overflow-y: hidden;
}

.middlebar{
    background-color: black;
    opacity: 0;
    height: 100%;
    float: right;
    width: 15px;
    position: absolute;
    cursor: col-resize;
    margin-left: 25%;
}
#ghostbar{
    width:3px;
    height: 100%;
    background-color:#000;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999}

button {
    margin: 1px;
}


/* FOR SMALLER SCREENS */
@media (max-width: 750px) {
  .rightside{
      float: none;
      min-width: 100%;
      padding-left: 0;
  }
  .leftside{
      min-width:100%;
      float: none;
  }
  #ghostbar{
    display: none;
  }
}