<!DOCTYPE html>
<html lang="en">
    <head>
        @head()
    </head>

    <body>
        @topnav(3)
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <!-- ~~~~~~  Members  ~~~~~~ -->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div id="myTabContent" class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>About</h3>
                    More details about this project can be found in GitHub:
                    <ul>
                        <li> <a href="https://github.com/ReoLanguage/ReoLive">
                            https://github.com/ReoLanguage/ReoLive</a> - Project that produces the JavaScript code used this website.
                        </li>
                        <li> <a href="https://github.com/ReoLanguage/Preo">
                            https://github.com/ReoLanguage/Preo</a> - Project that parses and analyses connectors in the Preo language.
                        </li>
                    </ul>
                </div>
            </div>
        </div>


            <!-- ~~~~~~~~~~~~~~~~~ -->
            <!-- ~~~~ FOOTERS ~~~~ -->
            <!-- ~~~~~~~~~~~~~~~~~ -->

        @footer()

    </body>
</html>